.App {
  font-family: "Quicksand", sans-serif;
  color: #757a79;
  font-size: 18px;
  max-width: 980px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin: 55px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App .footer-link {
  text-decoration: none;
  color: #757a79;
}

.App .footer-link:hover {
  color: #53a8b6;
  font-weight: 500;
  text-decoration: underline;
}
