body {
  font-family: "Quicksand", sans-serif;
  color: #757a79;
}

.App-header {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin: 55px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
