.Dictionary form {
  margin: 10px 0;
}

.Dictionary section {
  background-color: #e3f6f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  font-size: 20px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.Dictionary input::placeholder {
  font-size: 17px;
  font-style: italic;
  opacity: 0.7;
}
